aside{
	grid-column: 4/5;
	grid-row: 2/3;
	display: inline-block;
	width: 300px;
    background-color: black;
    border-left: 5px solid #507d2e;
	height: max-content;
}

.author{
	display: inline-block;
		color: #507d2e;
	padding: 0px !important;
}
.author .cover-picture{
	display: block;
	width: 100%;
	margin: auto;
	justify-content: center;
}

.author 
> ul.icons 
li 
i{
    font-size: 20px;
		color: #507d2e;
}

.author 
.description{
	padding-left: 5px;
	margin: 0px;
}

.author 
.search-blog{
	width: max-content;
	margin: auto;
	padding-bottom: 10px;
}

.author 
.card-title{
	padding-left: 5px;
}