footer{
	width: 100%;
	grid-column: 1/5;
	grid-row: 3/4;
	background-color: black;
	color: gray;
	margin: 10px;
	padding: 10px;
}

footer 
ul.icons
{
list-style: none;
  font-size: 35px; 
  text-align: justify;
  color: white;
  padding: 10px;
}

footer 
ul.icons 
li
{
	display: inline-block;

}

footer 
ul.icons:after {
  content: '';
  width: 100%; 
  display: inline-block;
}

footer 
ul.icons 
li 
i{
  color: white;
}
footer 
.copyright 
i{
	display: inline;
}
footer 
.copyright 
p{
	display: inline;
}
footer 
.copyright 
p.author-name{
	font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.15em;
}
footer 
.copyright{
	text-align: center;
}